px2rem(designpx )
  $rem = 37.5px;
  return (designpx / $rem )rem
.detailContainer
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  transform translateY(100%)
  transition transform 0.1s ease-out
  background-color #fff
  touch-action none
  &.show
    transform translateY(0)
    z-index 1
  .detailTop
    .back
      position absolute
      left px2rem(15px)
      top px2rem(10px)
      width px2rem(25px)
      z-index 20
    .music-title
      position relative
      text-align center
      font-size px2rem(20px)
      color #fff
      padding-top px2rem(15px)
      z-index 3
      font-weight 800
    .music-author
      position relative
      text-align center
      font-size px2rem(16px)
      color #fff
      padding-top px2rem(15px)
      z-index 3
      font-weight 800
      &:before
        content ''
        display inline-block
        width px2rem(20px)
        border-top 1px solid #fff
        vertical-align px2rem(6px)
        margin-right px2rem(10px)
      &:after
        content ''
        display inline-block
        width px2rem(20px)
        border-top 1px solid #fff
        vertical-align px2rem(6px)
        margin-left px2rem(10px)
  .detailMid
    text-align center
    position relative
    z-index 10
    .music-cover
      width px2rem(210px)
      height px2rem(210px)
      border-radius 50%
      margin-top px2rem(60px)
      position relative
      z-index 10
      &.active
        animation: picRotate 10s linear infinite
    .carousel-two
      position relative
      z-index 10
      color #fff
  .detailBottom
    box-sizing border-box
    padding-bottom px2rem(20px)
    position relative
    z-index 10
    .progress
      position relative
      margin-top px2rem(15px)
      text-align center
      .currentPlayTime, .totalPlayTime
        position absolute
        color #8a8a8a
        font-size px2rem(12px)
      .currentPlayTime
        left px2rem(25px)
        top px2rem(7px)
      .totalPlayTime
        right px2rem(25px)
        top px2rem(7px)
      .progress-wrapper
        position relative
        display inline-block
        width px2rem(200px)
        height px2rem(1px)
        background-color #e6e6e6
        .progress-inner
          height 1px
          background-color #31c37c
        .progress-btn
          position absolute
          top px2rem(-8px)
          left 0
          width px2rem(15px)
          height px2rem(15px)
          border-radius 50%
          background-color #31c37c
  .controlBtn
    display flex
    height px2rem(90px)
    align-items center
    justify-content center
    margin-top px2rem(25px)
    position absolute
    bottom: 10%
    z-index: 20
    left: 50%
    transform: translateX(-50%)
    .status
      width px2rem(70px)
      height px2rem(70px)
      margin 0 px2rem(15px)
    .prev, .next
      width px2rem(40px)
      height px2rem(40px)
  .detailBg
    background-image url('../../assets/images/topic-tianfuzhen.jpeg')
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background-size cover
    background-position bottom center
    z-index 1
    -webkit-filter blur(15px)
    -webkit-transform scale(1.15)
  .bgMask
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background #000
    z-index 2
    opacity 0.6

@keyframes picRotate 
  from
    transform rotate(0)
  to
    transform: rotate(360deg)