/* 最外边样式 */
.wrapper {
  width: 100%;
}

/* 我的页面上部分样式start */
.myTop {
  width: 100%;
  margin-top: 100px;
}

/* 头像部分样式 */
.myTop-portrait {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.myTop-portrait .myTop-portrait-btn {
  width: 82px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #8a8a8a;
  border-radius: 30px;
}

.myTop-portrait .myTop-portrait-btn img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.myTop-portrait .myTop-portrait-btn span {
  font-size: 10px
}

.myTop-portrait .profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 10px 20px;
}

.coconut {
  font-size: 12px;
  justify-content: center;
  display: flex;
}

.coconut:before {
  content: '';
  display: block;
  width: 50px;
  border-top: 1px solid #8a8a8a;
  margin: 6px 5px 0 0;
}

.coconut:after {
  content: '';
  display: block;
  width: 50px;
  border-top: 1px solid #8a8a8a;
  margin: 6px 0 0 5px;
}

.diamond {
  text-align: center;
  margin: 5px 0 10px;
}

.diamond img {
  width: 19px;
  height: 19px;
}

/* 列表 */
.IconList {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.IconList .IConItem {
  width: 33%;
  text-align: center;
}

.IconList .IConItem img {
  width: 35px;
  height: 35px;
}

.IconList .IConItem p {
  color: rgba(0, 0, 0, .4);
  margin: 4px 0;
}

/*个性电台样式 */
.myBottom {
  width: 100%;

}

.myBottom .myBottom-broadcasting:before {
  width: 100%;
  display: block;
  content: '';
  height: 4px;
  background-color: rgba(0, 0, 0, .1);
}

.myBottom-broadcasting:after {
  width: 100%;
  content: '';
  display: block;
  height: 4px;
  background-color: rgba(0, 0, 0, .1);
}

.myBottom-individuality {
  display: flex;

}

.myBottom-individuality img {
  width: 55px;
  height: 55px;
  margin-right: 6px;
}

.myBottom-size {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.myBottom-box:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  content: '';
  display: block;
  background-color: #8a8a8a;
  height: 1px;
}

.myBottom-size :nth-child(1) {
  font-size: 18px;
  line-height: 1.2;

}

.myBottom-size :nth-child(2) {
  font-size: 13px;
  color: #8a8a8a;
  line-height: 1.2;
}

/* 我的新建样式 */
.newSong {
  width: 100%;
}

/* 我的新建样式布局上部分 */
.newSong-top {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.newSong-top .newSong-icon {
  position: absolute;
  right: 8px;
}

.newSong-top .shu {
  margin: -2px 10px 0 10px;
}

.newSong-top .newSong-icon img {
  width: 20px;
  height: 20px;
}

.newSong-top .newSong-icon :nth-child(1) {
  margin-right: 10px;
}

/* 我的新建样式布局下部分 */
.newSong-bottom {
  width: 100%;
}

.newSong-bottom .newSongItem {
  display: flex;
  align-items: center;
}

.newSongItem .masking-left {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, .1);
  text-align: center;
  line-height: 60px;
  margin-right: 6px;
}

.newSongItem .masking-left img {
  width: 30px;
  height: 30px;
  vertical-align: Middle;
}

.newSongItem .masking-right {
  flex: 1;
  height: 60px;
  line-height: 60px;
  color: rgba(0, 0, 0, .3);
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}